common --noexperimental_merged_skyframe_analysis_execution
common --enable_runfiles                                                                                            # Don't create the "bazel-*" foldersriu
build --experimental_convenience_symlinks=clean

# Enable ":windows" ":linux", etc. auto-config tags
common --enable_platform_specific_config

build:windows    --copt="/Brepro"    --copt="/guard:cf" --copt="/Z7" --copt="/JMC-" --cxxopt="/std:c++17" --copt="/sdl" --copt="-D_SILENCE_CXX17_ITERATOR_BASE_CLASS_DEPRECATION_WARNING" --copt="-utf-8" --copt="-wd4996"
build:windows --linkopt="/Brepro" --linkopt="/guard:cf" --linkopt="/DEBUG:FULL" --linkopt="/CETCOMPAT" --linkopt="/OPT:REF,ICF" --linkopt="/RELEASE"
common:linux --cxxopt=-std=c++17
common:macos --cxxopt=-std=c++17

# Select the clang-cli, the definion is in the WORKSPACE (x64_windows-clang-cl)
# common:windows --extra_execution_platforms=//:x64_windows-clang-cl --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl
# common:windows --cxxopt=-Wno-deprecated-builtins

## This is what my ../top.bazelrc contains (not in the repo as local to my machine)
# build --disk_cache=f:/b/d
# common --repository_cache=f:/b/r
# startup --output_user_root=f:/b/u
try-import %workspace%/../top.bazelrc


